<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <header>
        <div class="con">
            <h1>Blog Website</h1>
            <nav>
                <ul>
                    <li>
                        <form action="/post" method="get">
                            <button type="submit">Create Post</button>
                        </form>
                    </li>
                    <li>
                        <form action="/view" method="get">
                            <button type="submit">View Posts</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>
